@font-face {
  font-family: G-Lato-n4;
  src: url('../data/fonts.gstatic.com_s_lato_v11_h7rISIcQapZBpei-sXwIwg.ttf');
}
@font-face {
  font-family: G-Lato-n3;
  src: url('../data/fonts.gstatic.com_s_lato_v11_Ja02qOppOVq9jeRjWekbHg.ttf');
}
@font-face {
  font-family: G-Lato-n7;
  src: url('../data/fonts.gstatic.com_s_lato_v11_iX_QxBBZLhNj5JHlTzHQzg.ttf');
}
@font-face {
  font-family: G-Lato-n9;
  src: url('../data/fonts.gstatic.com_s_lato_v11_8TPEV6NbYWZlNsXjbYVv7w.ttf');
}